/* Estilos globales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url('img/Cine-1.jpg'); /* Ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.w3l-signinform {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
  max-width: 400px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.w3l-signinform h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.w3l-signinform p {
  font-size: 16px;
  margin-bottom: 30px;
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type='submit'] {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

.forgot {
  text-align: right;
  display: block;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
